<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Survey Wizard</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Survey Wizard</h1>
  <div class="navigation">
  {% if g.user %}
    <a href="{{ url_for('logout') }}">Sign Out [{{ g.user.username }}]</a>
    {% if g.user.is_surveyor %}
    	<a href="{{ url_for('create_survey') }}">Create Survey</a>
    {% endif %}
  {% else %}
    <a href="{{ url_for('register') }}">Register</a> |
    <a href="{{ url_for('login') }}">Sign In</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    Survey Wizard &mdash; A Flask Application
  </div>
</div>